
.msg_info{
    color: #fff;
    background-color: #fbbc04;
    letter-spacing: 1px;
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 2px;
}

.div_button{
    margin-top: 3px;
    letter-spacing: 2px;
}